Python MySQL

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **MySQL Ø¯Ø± Ù¾Ø§ÛŒØªÙˆÙ†**

ğŸ§  MySQL ÛŒÚ©ÛŒ Ø§Ø² Ù…Ø­Ø¨ÙˆØ¨â€ŒØªØ±ÛŒÙ† Ø³ÛŒØ³ØªÙ…â€ŒÙ‡Ø§ÛŒ Ù…Ø¯ÛŒØ±ÛŒØª Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ Ø§Ø³Øª Ú©Ù‡ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø¢Ù† Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ Ø®ÙˆØ¯ Ø±Ø§ Ø°Ø®ÛŒØ±Ù‡ Ùˆ Ù…Ø¯ÛŒØ±ÛŒØª Ú©Ù†ÛŒØ¯. Ø¯Ø± Ù¾Ø§ÛŒØªÙˆÙ†ØŒ Ø´Ù…Ø§ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡ mysql-connector-python Ø¨Ø±Ø§ÛŒ Ø¨Ø±Ù‚Ø±Ø§Ø±ÛŒ Ø§Ø±ØªØ¨Ø§Ø· Ùˆ Ø§Ø¬Ø±Ø§ÛŒ Ø¹Ù…Ù„ÛŒØ§Øª Ø¨Ø± Ø±ÙˆÛŒ ÛŒÚ© Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ MySQL Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.

Ø¯Ø± Ø§Ø¨ØªØ¯Ø§ØŒ Ø¨Ø§ÛŒØ¯ Ø§ÛŒÙ† Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡ Ø±Ø§ Ù†ØµØ¨ Ú©Ù†ÛŒØ¯. Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ø§ÛŒÙ† Ø¯Ø³ØªÙˆØ± Ø±Ø§ Ø¯Ø± Ø®Ø· ÙØ±Ù…Ø§Ù† ÙˆØ§Ø±Ø¯ Ú©Ù†ÛŒØ¯:

</section>

> pip install mysql-connector-python

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø­Ø§Ù„Ø§ Ø¨ÛŒØ§ÛŒÛŒØ¯ ÛŒÚ© Ø§ØªØµØ§Ù„ Ø¨Ù‡ Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ MySQL Ø¨Ø±Ù‚Ø±Ø§Ø± Ú©Ù†ÛŒÙ…:

</section>

In [1]:
import mysql.connector

global mycursor

# Ø¨Ø±Ù‚Ø±Ø§Ø±ÛŒ Ø§ØªØµØ§Ù„
mydb = mysql.connector.connect(
    host="localhost",  # Ù…ÛŒØ²Ø¨Ø§Ù† Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡
    user="root",  # Ù†Ø§Ù… Ú©Ø§Ø±Ø¨Ø±ÛŒ
    password="1234",  # Ø±Ù…Ø² Ø¹Ø¨ÙˆØ±
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7facdcf5fdf0>

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø³Ù¾Ø³ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø¹Ù…Ù„ÛŒØ§Øªâ€ŒÙ‡Ø§ÛŒ Ù…Ø®ØªÙ„ÙÛŒ Ù…Ø§Ù†Ù†Ø¯ Ø§Ø¬Ø±Ø§ÛŒ Ú©ÙˆØ¦Ø±ÛŒâ€ŒÙ‡Ø§ ÛŒØ§ Ø¯Ø±Ø¬ØŒ Ø¨Ù‡â€ŒØ±ÙˆØ²Ø±Ø³Ø§Ù†ÛŒ Ùˆ Ø­Ø°Ù Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ Ø±Ø§ Ø§Ù†Ø¬Ø§Ù… Ø¯Ù‡ÛŒØ¯. Ø¨Ù‡ Ø¹Ù†ÙˆØ§Ù† Ù…Ø«Ø§Ù„:

</section>

In [2]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('shop',)
('sys',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø¨Ø±Ø§ÛŒ Ø§ÛŒØ¬Ø§Ø¯ ÛŒÚ© Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ Ø¯Ø± MySQLØŒ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "CREATE DATABASE" Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯:

</section>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="127.0.0.1",
    port="3306",
    user="root",
    password="1234"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE shop")

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø§Ú¯Ø± Ú©Ø¯ Ø¨Ø§Ù„Ø§ Ø¨Ø¯ÙˆÙ† Ø®Ø·Ø§ Ø§Ø¬Ø±Ø§ Ø´Ø¯ØŒ Ø´Ù…Ø§ Ø¨Ø§ Ù…ÙˆÙÙ‚ÛŒØª ÛŒÚ© Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ Ø§ÛŒØ¬Ø§Ø¯ Ú©Ø±Ø¯Ù‡ Ø§ÛŒØ¯.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### Ø¨Ø±Ø±Ø³ÛŒ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ø¢ÛŒØ§ Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯

Ø´Ù…Ø§ Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ Ø¨Ø±Ø±Ø³ÛŒ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ø¢ÛŒØ§ ÛŒÚ© Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯ Ø¨Ø§ Ù„ÛŒØ³Øª ØªÙ…Ø§Ù… Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ù‡Ø§ÛŒ Ø¯Ø§Ø¯Ù‡ Ø¯Ø± Ø³ÛŒØ³ØªÙ… Ø®ÙˆØ¯ Ø±Ø§ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² "Ù†Ù…Ø§ÛŒØ´ Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡" Ø¨ÛŒØ§Ù†ÛŒÙ‡:

</section>

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('shop',)
('sys',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

ÛŒØ§ Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø¯Ø± Ù‡Ù†Ú¯Ø§Ù… Ø³Ø§Ø®Øª Ø§ØªØµØ§Ù„ Ø¨Ø±Ø±Ø³ÛŒ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ø¢ÛŒØ§ ÛŒÚ© ÛŒØªØ§Ø¨ÛŒØ³ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯ ÛŒØ§ Ø®ÛŒØ±:

</section>

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø§Ú¯Ø± Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ ÙˆØ¬ÙˆØ¯ Ù†Ø¯Ø§Ø´ØªÙ‡ Ø¨Ø§Ø´Ø¯ØŒ Ø´Ù…Ø§ ÛŒÚ© Ø®Ø·Ø§ Ø¯Ø±ÛŒØ§ÙØª Ø®ÙˆØ§Ù‡ÛŒØ¯ Ú©Ø±Ø¯.

</section>

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Create Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **Ø³Ø§Ø®Øª Ø¬Ø¯ÙˆÙ„**

Ø¨Ø±Ø§ÛŒ Ø§ÛŒØ¬Ø§Ø¯ ÛŒÚ© Ø¬Ø¯ÙˆÙ„ Ø¯Ø± MySQLØŒ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "CREATE DATABASE" Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.

Ø§Ø·Ù…ÛŒÙ†Ø§Ù† Ø­Ø§ØµÙ„ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ù‡Ù†Ú¯Ø§Ù… Ø§ÛŒØ¬Ø§Ø¯ Ø§ØªØµØ§Ù„ØŒ Ù†Ø§Ù… Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ Ø±Ø§ ØªØ¹Ø±ÛŒÙ Ù…ÛŒ Ú©Ù†ÛŒØ¯

</section>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute(
    "CREATE TABLE custommers (name VARCHAR(255), address VARCHAR(255))")

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø§Ú¯Ø± Ú©Ø¯ Ø¨Ø§Ù„Ø§ Ø¨Ø¯ÙˆÙ† Ø®Ø·Ø§ Ø§Ø¬Ø±Ø§ Ø´Ø¯ØŒ Ø§Ú©Ù†ÙˆÙ† Ø¨Ø§ Ù…ÙˆÙÙ‚ÛŒØª ÛŒÚ© Ø¬Ø¯ÙˆÙ„ Ø§ÛŒØ¬Ø§Ø¯ Ú©Ø±Ø¯Ù‡ Ø§ÛŒØ¯.

</section>

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### Ø¨Ø±Ø±Ø³ÛŒ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ø¢ÛŒØ§ Ø¬Ø¯ÙˆÙ„ ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯ ÛŒØ§ Ø®ÛŒØ±

Ø¨Ø§ Ø¯Ø³ØªÙˆØ± "SHOW TABLES" Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø¨Ø±Ø±Ø³ÛŒ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ø¢ÛŒØ§ Ø¬Ø¯ÙˆÙ„ Ù…ÙˆØ±Ø¯ Ù†Ø¸Ø± ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯ ÛŒØ§ Ø®ÛŒØ±:

</section>

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>


### Ú©Ù„ÛŒØ¯ Ø§ØµÙ„ÛŒ (Primary Key)

Ù‡Ù†Ú¯Ø§Ù… Ø§ÛŒØ¬Ø§Ø¯ ÛŒÚ© Ø¬Ø¯ÙˆÙ„ØŒ Ø´Ù…Ø§ Ù‡Ù…Ú†Ù†ÛŒÙ† Ø¨Ø§ÛŒØ¯ ÛŒÚ© Ø³ØªÙˆÙ† Ø¨Ø§ ÛŒÚ© Ú©Ù„ÛŒØ¯ Ù…Ù†Ø­ØµØ± Ø¨Ù‡ ÙØ±Ø¯ Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø±Ú©ÙˆØ±Ø¯ Ø§ÛŒØ¬Ø§Ø¯ Ú©Ù†ÛŒØ¯.

Ø§ÛŒÙ† Ú©Ø§Ø± Ø±Ø§ Ù…ÛŒØªÙˆØ§Ù† Ø¨Ø§ ØªØ¹Ø±ÛŒÙ ÛŒÚ© Ú©Ù„ÛŒØ¯ Ø§ÙˆÙ„ÛŒÙ‡ Ø§Ù†Ø¬Ø§Ù… Ø¯Ø§Ø¯.

Ù…Ø§ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "INT AUTO_INTCREEMENT PRIME KEY" Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒ Ú©Ù†ÛŒÙ… Ú©Ù‡ ÛŒÚ© Ø´Ù…Ø§Ø±Ù‡ Ù…Ù†Ø­ØµØ± Ø¨Ù‡ ÙØ±Ø¯ Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø±Ú©ÙˆØ±Ø¯ ÙˆØ§Ø±Ø¯ Ù…ÛŒ Ú©Ù†Ø¯. Ø§Ø² 1 Ø´Ø±ÙˆØ¹ Ù…ÛŒ Ø´ÙˆØ¯ Ùˆ Ø¨Ø±Ø§ÛŒ Ù‡Ø± Ø±Ú©ÙˆØ±Ø¯ ÛŒÚ© ÙˆØ§Ø­Ø¯ Ø§ÙØ²Ø§ÛŒØ´ Ù…ÛŒ ÛŒØ§Ø¨Ø¯.

</section>

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute(
    "CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø§Ú¯Ø± Ø¬Ø¯ÙˆÙ„ Ø¯Ø± Ø­Ø§Ù„ Ø­Ø§Ø¶Ø± ÙˆØ¬ÙˆØ¯ Ø¯Ø§Ø±Ø¯ØŒ Ø§Ø² Ú©Ù„Ù…Ù‡ Ú©Ù„ÛŒØ¯ÛŒ ALTER TABLE Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯:

</section>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute(
    "ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

---

Python MySQL Insert Into Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø¨Ø±Ø§ÛŒ Ù¾Ø± Ú©Ø±Ø¯Ù† Ø¯Ø§Ø¯Ù‡â€ŒÙ‡Ø§ÛŒ ÛŒÚ© Ø¬Ø¯ÙˆÙ„ Ø¯Ø± MySQLØŒ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "INSERT INTO" Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.

</section>

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    port="3306",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("saleh", "tehran")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

<section style="direction: rtl; text-align: justify; margin: 30px;">

âš ï¸ Ù…Ù‡Ù…!: ØªÙˆØ¬Ù‡ Ø¨Ù‡ Ø¨ÛŒØ§Ù†ÛŒÙ‡: mydb.commit(). Ù„Ø§Ø²Ù… Ø§Ø³Øª Ú©Ù‡ ØªØºÛŒÛŒØ±Ø§Øª Ø§Ù†Ø¬Ø§Ù… Ø´ÙˆØ¯ØŒ Ø¯Ø± ØºÛŒØ± Ø§ÛŒÙ† ØµÙˆØ±Øª Ù‡ÛŒÚ† ØªØºÛŒÛŒØ±ÛŒ Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø§ÛŒØ¬Ø§Ø¯ Ù†Ù…ÛŒØ´ÙˆØ¯.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Ø±Ø¯ÛŒÙ Ù‡Ø§ÛŒ Ú†Ù†Ø¯Ú¯Ø§Ù†Ù‡ Ø±Ø§ ÙˆØ§Ø±Ø¯ Ú©Ù†ÛŒØ¯  

Ø¨Ø±Ø§ÛŒ Ù‚Ø±Ø§Ø± Ø¯Ø§Ø¯Ù† Ú†Ù†Ø¯ÛŒÙ† Ø±Ø¯ÛŒÙ Ø¯Ø± ÛŒÚ© Ø¬Ø¯ÙˆÙ„ØŒ Ø§Ø² Ø±ÙˆØ´ executemany() Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.

Ù¾Ø§Ø±Ø§Ù…ØªØ± Ø¯ÙˆÙ… Ø±ÙˆØ´ executemany() Ù„ÛŒØ³ØªÛŒ Ø§Ø² ØªØ§Ù¾Ù„ Ù‡Ø§ Ø§Ø³Øª Ú©Ù‡ Ø­Ø§ÙˆÛŒ Ø¯Ø§Ø¯Ù‡ Ù‡Ø§ÛŒÛŒ Ø§Ø³Øª Ú©Ù‡ Ù…ÛŒ Ø®ÙˆØ§Ù‡ÛŒØ¯ ÙˆØ§Ø±Ø¯ Ú©Ù†ÛŒØ¯:

</section>

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ('Peter', 'Lowstreet 4'),
    ('Amy', 'Apple st 652'),
    ('Hannah', 'Mountain 21'),
    ('Michael', 'Valley 345'),
    ('Sandy', 'Ocean blvd 2'),
    ('Betty', 'Green Grass 1'),
    ('Richard', 'Sky st 331'),
    ('Susan', 'One way 98'),
    ('Vicky', 'Yellow Garden 2'),
    ('Ben', 'Park Lane 38'),
    ('William', 'Central st 954'),
    ('Chuck', 'Main Road 989'),
    ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø´Ù…Ø§ Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ Ø´Ù†Ø§Ø³Ù‡ Ø±Ø¯ÛŒÙ Ø±Ø§ Ú©Ù‡ ÙÙ‚Ø· Ø¨Ø§ Ø¯Ø±Ø®ÙˆØ§Ø³Øª Ø´ÛŒØ¡ Ù…Ú©Ø§Ù† Ù†Ù…Ø§ ÙˆØ§Ø±Ø¯ Ú©Ø±Ø¯Ù‡ Ø§ÛŒØ¯ Ø¯Ø±ÛŒØ§ÙØª Ú©Ù†ÛŒØ¯.

âš ï¸ ØªÙˆØ¬Ù‡: Ø§Ú¯Ø± Ø¨ÛŒØ´ Ø§Ø² ÛŒÚ© Ø±Ø¯ÛŒÙ Ø±Ø§ ÙˆØ§Ø±Ø¯ Ú©Ù†ÛŒØ¯ØŒ Ø´Ù†Ø§Ø³Ù‡ Ø¢Ø®Ø±ÛŒÙ† Ø±Ø¯ÛŒÙ ÙˆØ§Ø±Ø¯ Ø´Ø¯Ù‡ Ø¨Ø§Ø²Ú¯Ø±Ø¯Ø§Ù†Ø¯Ù‡ Ù…ÛŒ Ø´ÙˆØ¯.

</section>

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("saleh", "tehran")
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 25

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Select From

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **Ø§Ù†ØªØ®Ø§Ø¨ ÛŒÚ© Ø¹Ø¨Ø§Ø±Øª**

Ø¨Ø±Ø§ÛŒ Ø§Ù†ØªØ®Ø§Ø¨ Ø§Ø² ÛŒÚ© Ø¬Ø¯ÙˆÙ„ Ø¯Ø± MySQLØŒ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "SELECT" Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯:

</section>

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(9, 'Peter', 'Lowstreet 4')
(10, 'Amy', 'Apple st 652')
(11, 'Hannah', 'Mountain 21')
(12, 'Michael', 'Valley 345')
(13, 'Sandy', 'Ocean blvd 2')
(14, 'Betty', 'Green Grass 1')
(15, 'Richard', 'Sky st 331')
(16, 'Susan', 'One way 98')
(17, 'Vicky', 'Yellow Garden 2')
(18, 'Ben', 'Park Lane 38')
(19, 'William', 'Central st 954')
(20, 'Chuck', 'Main Road 989')
(21, 'Viola', 'Sideway 1633')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Using the fetchone() Method

<section style="direction: rtl; text-align: justify; margin: 30px;">

### **Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ù…ØªØ¯ fetchone()**

Ø¨Ø±Ø§ÛŒ Ø§Ù†ØªØ®Ø§Ø¨ ÛŒÚ© Ø±Ø¯ÛŒÙ Ø§Ø² Ø§Ø·Ù„Ø§Ø¹Ø§Øª Ù…ÛŒâ€ŒØªÙˆØ§Ù† Ø§Ø² Ù…ØªØ¯ fetchone() Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ø±Ø¯.

Ø±ÙˆØ´ ()fetchone Ø§ÙˆÙ„ÛŒÙ† Ø±Ø¯ÛŒÙ Ù†ØªÛŒØ¬Ù‡ Ø±Ø§ Ø¨Ø±Ù…ÛŒ Ú¯Ø±Ø¯Ø§Ù†Ø¯:

</section>

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

(9, 'Peter', 'Lowstreet 4')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Where

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **Ø¬Ø³ØªØ¬ÙˆÛŒ ÛŒÚ© Ø¹Ø¨Ø§Ø±Øª**

Ù‡Ù†Ú¯Ø§Ù… Ø§Ù†ØªØ®Ø§Ø¨ Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ Ø§Ø² ÛŒÚ© Ø¬Ø¯ÙˆÙ„ØŒ Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ Ø§Ù†ØªØ®Ø§Ø¨ Ø±Ø§ Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "WHERE" ÙÛŒÙ„ØªØ± Ú©Ù†ÛŒØ¯:

</section>

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE name = 'saleh'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(25, 'saleh', 'tehran')

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **Ú©Ø§Ø±Ø§Ú©ØªØ±Ù‡Ø§ÛŒ Wildcard**

Ù‡Ù…Ú†Ù†ÛŒÙ† Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ÛŒÛŒ Ø±Ø§ Ø§Ù†ØªØ®Ø§Ø¨ Ú©Ù†ÛŒØ¯ Ú©Ù‡ Ø¨Ø§ ÛŒÚ© Ø­Ø±Ù ÛŒØ§ Ø¹Ø¨Ø§Ø±Øª Ù…Ø´Ø®Øµ Ø´Ø±ÙˆØ¹ØŒ Ø´Ø§Ù…Ù„ ÛŒØ§ Ù¾Ø§ÛŒØ§Ù† Ù…ÛŒâ€ŒØ´ÙˆÙ†Ø¯.

Ø§Ø² %  Ø¨Ø±Ø§ÛŒ Ù†Ù…Ø§ÛŒØ´ Ú©Ø§Ø±Ø§Ú©ØªØ±Ù‡Ø§ÛŒ wildcard Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯:

</section>

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(16, 'Susan', 'One way 98')
(21, 'Viola', 'Sideway 1633')

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **Ø¬Ù„ÙˆÚ¯ÛŒØ±ÛŒ Ø§Ø² ØªØ²Ø±ÛŒÙ‚ SQL**

Ù‡Ù†Ú¯Ø§Ù…ÛŒ Ú©Ù‡ Ù…Ù‚Ø§Ø¯ÛŒØ± Ù¾Ø±Ø³ Ùˆ Ø¬Ùˆ ØªÙˆØ³Ø· Ú©Ø§Ø±Ø¨Ø± Ø§Ø±Ø§Ø¦Ù‡ Ù…ÛŒ Ø´ÙˆØ¯ØŒ Ø¨Ø§ÛŒØ¯ Ù…Ù‚Ø§Ø¯ÛŒØ± Ø±Ø§ escape Ú©Ø±Ø¯.

Ø§ÛŒÙ† Ø¨Ø±Ø§ÛŒ Ø¬Ù„ÙˆÚ¯ÛŒØ±ÛŒ Ø§Ø² ØªØ²Ø±ÛŒÙ‚ SQL Ø§Ø³ØªØŒ Ú©Ù‡ ÛŒÚ© ØªÚ©Ù†ÛŒÚ© Ø±Ø§ÛŒØ¬ Ù‡Ú© ÙˆØ¨ Ø¨Ø±Ø§ÛŒ Ø§Ø² Ø¨ÛŒÙ† Ø¨Ø±Ø¯Ù† ÛŒØ§ Ø³ÙˆØ¡ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ Ø´Ù…Ø§ Ø§Ø³Øª.

Ù…Ø§Ú˜ÙˆÙ„ mysql.connector Ø±ÙˆØ´ Ù‡Ø§ÛŒÛŒ Ø¨Ø±Ø§ÛŒ ÙØ±Ø§Ø± Ø§Ø² Ù…Ù‚Ø§Ø¯ÛŒØ± Ù¾Ø±Ø³ Ùˆ Ø¬Ùˆ Ø¯Ø§Ø±Ø¯:

</section>

In [23]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(17, 'Vicky', 'Yellow Garden 2')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Order By

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **Ù…Ø±ØªØ¨ Ú©Ø±Ø¯Ù† Ù†ØªØ§ÛŒØ¬**

Ø§Ø² Ø¯Ø³ØªÙˆØ± ORDER BY Ø¨Ø±Ø§ÛŒ Ù…Ø±ØªØ¨ Ú©Ø±Ø¯Ù† Ù†ØªÛŒØ¬Ù‡ Ø¨Ù‡ ØªØ±ØªÛŒØ¨ ØµØ¹ÙˆØ¯ÛŒ ÛŒØ§ Ù†Ø²ÙˆÙ„ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.

Ú©Ù„Ù…Ù‡ Ú©Ù„ÛŒØ¯ÛŒ ORDER BY Ù†ØªÛŒØ¬Ù‡ Ø±Ø§ Ø¨ØµÙˆØ±Øª ØµØ¹ÙˆØ¯ÛŒ Ù…Ø±ØªØ¨ Ù…ÛŒ Ú©Ù†Ø¯. Ø¨Ø±Ø§ÛŒ Ù…Ø±ØªØ¨ Ú©Ø±Ø¯Ù† Ù†ØªÛŒØ¬Ù‡ Ø¨Ù‡ ØªØ±ØªÛŒØ¨ Ù†Ø²ÙˆÙ„ÛŒØŒ Ø§Ø² Ú©Ù„Ù…Ù‡ Ú©Ù„ÛŒØ¯ÛŒ DESC Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.

</section>

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(10, 'Amy', 'Apple st 652')
(18, 'Ben', 'Park Lane 38')
(14, 'Betty', 'Green Grass 1')
(20, 'Chuck', 'Main Road 989')
(11, 'Hannah', 'Mountain 21')
(12, 'Michael', 'Valley 345')
(9, 'Peter', 'Lowstreet 4')
(15, 'Richard', 'Sky st 331')
(25, 'saleh', 'tehran')
(13, 'Sandy', 'Ocean blvd 2')
(16, 'Susan', 'One way 98')
(17, 'Vicky', 'Yellow Garden 2')
(21, 'Viola', 'Sideway 1633')
(19, 'William', 'Central st 954')

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **Ù…Ø±ØªØ¨ Ú©Ø±Ø¯Ù† Ù†Ø²ÙˆÙ„ÛŒ**

Ø§Ø² Ú©Ù„Ù…Ù‡ Ú©Ù„ÛŒØ¯ÛŒ DESC Ø¨Ø±Ø§ÛŒ Ù…Ø±ØªØ¨ Ú©Ø±Ø¯Ù† Ù†ØªØ§ÛŒØ¬ Ø¨Ù‡ ØªØ±ØªÛŒØ¨ Ù†Ø²ÙˆÙ„ÛŒ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.

</section>

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(19, 'William', 'Central st 954')
(21, 'Viola', 'Sideway 1633')
(17, 'Vicky', 'Yellow Garden 2')
(16, 'Susan', 'One way 98')
(13, 'Sandy', 'Ocean blvd 2')
(25, 'saleh', 'tehran')
(15, 'Richard', 'Sky st 331')
(9, 'Peter', 'Lowstreet 4')
(12, 'Michael', 'Valley 345')
(11, 'Hannah', 'Mountain 21')
(20, 'Chuck', 'Main Road 989')
(14, 'Betty', 'Green Grass 1')
(18, 'Ben', 'Park Lane 38')
(10, 'Amy', 'Apple st 652')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Delete From By

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **Ø­Ø°Ù Ú©Ø±Ø¯Ù† Ù†ØªØ§ÛŒØ¬**

Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "DELETE FROM" Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ Ø±Ø§ Ø§Ø² ÛŒÚ© Ø¬Ø¯ÙˆÙ„ Ù…ÙˆØ¬ÙˆØ¯ Ø­Ø°Ù Ú©Ù†ÛŒØ¯:

</section>

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    port="3306",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

<section style="direction: rtl; text-align: justify; margin: 30px;">

âš ï¸ Ù…Ù‡Ù…!: Ø¨Ù‡ Ø¹Ø¨Ø§Ø±Øª mydb.commit ØªÙˆØ¬Ù‡ Ú©Ù†ÛŒØ¯. Ø§Ù†Ø¬Ø§Ù… ØªØºÛŒÛŒØ±Ø§Øª Ø§Ù„Ø²Ø§Ù…ÛŒ Ø§Ø³ØªØŒ Ø¯Ø± ØºÛŒØ± Ø§ÛŒÙ† ØµÙˆØ±Øª Ù‡ÛŒÚ† ØªØºÛŒÛŒØ±ÛŒ Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø§ÛŒØ¬Ø§Ø¯ Ù†Ù…ÛŒ Ø´ÙˆØ¯.

âš ï¸ Ø¨Ù‡ Ø¹Ø¨Ø§Ø±Øª WHERE Ø¯Ø± Ù†Ø­Ùˆ DELETE ØªÙˆØ¬Ù‡ Ú©Ù†ÛŒØ¯: Ø¹Ø¨Ø§Ø±Øª WHERE Ù…Ø´Ø®Øµ Ù…ÛŒ Ú©Ù†Ø¯ Ú©Ù‡ Ú©Ø¯Ø§Ù… Ø±Ú©ÙˆØ±Ø¯(Ù‡Ø§) Ø¨Ø§ÛŒØ¯ Ø­Ø°Ù Ø´ÙˆÙ†Ø¯. Ø§Ú¯Ø± Ø¨Ù†Ø¯ WHERE Ø±Ø§ Ø­Ø°Ù Ú©Ù†ÛŒØ¯ØŒ ØªÙ…Ø§Ù… Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ Ø­Ø°Ù Ø®ÙˆØ§Ù‡Ù†Ø¯ Ø´Ø¯!


<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **(SQL Injection) Ø¬Ù„ÙˆÚ¯ÛŒØ±ÛŒ Ø§Ø² ØªØ²Ø±ÛŒÙ‚ SQL**

ÙØ±Ø§Ø± Ø§Ø² Ù…Ù‚Ø§Ø¯ÛŒØ± Ù‡Ø± Ù¾Ø±Ø³ Ùˆ Ø¬ÙˆØŒ Ù‡Ù…Ú†Ù†ÛŒÙ† Ø¯Ø± Ø¯Ø³ØªÙˆØ±Ø§Øª Ø­Ø°ÙØŒ ÛŒÚ© Ø±ÙˆØ´ Ø®ÙˆØ¨ Ø¯Ø± Ù†Ø¸Ø± Ú¯Ø±ÙØªÙ‡ Ù…ÛŒ Ø´ÙˆØ¯.

Ø§ÛŒÙ† Ø¨Ø±Ø§ÛŒ Ø¬Ù„ÙˆÚ¯ÛŒØ±ÛŒ Ø§Ø² ØªØ²Ø±ÛŒÙ‚ SQL Ø§Ø³ØªØŒ Ú©Ù‡ ÛŒÚ© ØªÚ©Ù†ÛŒÚ© Ø±Ø§ÛŒØ¬ Ù‡Ú© ÙˆØ¨ Ø¨Ø±Ø§ÛŒ Ø§Ø² Ø¨ÛŒÙ† Ø¨Ø±Ø¯Ù† ÛŒØ§ Ø³ÙˆØ¡ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ Ø´Ù…Ø§ Ø§Ø³Øª.

Ù…Ø§Ú˜ÙˆÙ„ mysql.connector Ø§Ø² Ù…Ú©Ø§Ù† Ù†Ú¯Ù‡Ø¯Ø§Ø± %s Ø¨Ø±Ø§ÛŒ ÙØ±Ø§Ø± Ø§Ø² Ù…Ù‚Ø§Ø¯ÛŒØ± Ø¯Ø± Ø¹Ø¨Ø§Ø±Øª delete Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒ Ú©Ù†Ø¯:

</section>

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Drop Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **Ø­Ø°Ù ÛŒÚ© Ø¬Ø¯ÙˆÙ„**

Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "DROP TABLE" Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ ÛŒÚ© Ø¬Ø¯ÙˆÙ„ Ù…ÙˆØ¬ÙˆØ¯ Ø±Ø§ Ø­Ø°Ù Ú©Ù†ÛŒØ¯:

</section>

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "DROP TABLE customers"

mycursor.execute(sql)

<section style="direction: rtl; text-align: justify; margin: 30px;">

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Ø§Ú¯Ø± Ø¬Ø¯ÙˆÙ„ÛŒ Ú©Ù‡ Ù…ÛŒ Ø®ÙˆØ§Ù‡ÛŒØ¯ Ø­Ø°Ù Ú©Ù†ÛŒØ¯ Ù‚Ø¨Ù„Ø§Ù‹ Ø­Ø°Ù Ø´Ø¯Ù‡ Ø§Ø³Øª ÛŒØ§ Ø¨Ù‡ Ù‡Ø± Ø¯Ù„ÛŒÙ„ Ø¯ÛŒÚ¯Ø±ÛŒ ÙˆØ¬ÙˆØ¯ Ù†Ø¯Ø§Ø±Ø¯ØŒ Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ú©Ù„Ù…Ù‡ Ú©Ù„ÛŒØ¯ÛŒ IF EXISTS Ø¨Ø±Ø§ÛŒ Ø¬Ù„ÙˆÚ¯ÛŒØ±ÛŒ Ø§Ø² Ø®Ø·Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯.

</section>

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS customers"

mycursor.execute(sql)

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Update Table

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **Ø¨Ø±ÙˆØ²Ø±Ø³Ø§Ù†ÛŒ ÛŒÚ© Ø¬Ø¯ÙˆÙ„**

Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "UPDATE" Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ÛŒ Ù…ÙˆØ¬ÙˆØ¯ Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø±Ø§ Ø¨Ù‡ Ø±ÙˆØ² Ú©Ù†ÛŒØ¯:

</section>

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

print("-----------------------\n")

sql = "SELECT * FROM customers"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

1 record(s) affected
-----------------------

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Canyon 123')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')
(14, 'saleh', 'tehran')

<section style="direction: rtl; text-align: justify; margin: 30px;">

âš ï¸ Ù…Ù‡Ù…!: Ø¨Ù‡ Ø¹Ø¨Ø§Ø±Øª mydb.commit ØªÙˆØ¬Ù‡ Ú©Ù†ÛŒØ¯. Ø§Ù†Ø¬Ø§Ù… ØªØºÛŒÛŒØ±Ø§Øª Ø§Ù„Ø²Ø§Ù…ÛŒ Ø§Ø³ØªØŒ Ø¯Ø± ØºÛŒØ± Ø§ÛŒÙ† ØµÙˆØ±Øª Ù‡ÛŒÚ† ØªØºÛŒÛŒØ±ÛŒ Ø¯Ø± Ø¬Ø¯ÙˆÙ„ Ø§ÛŒØ¬Ø§Ø¯ Ù†Ù…ÛŒ Ø´ÙˆØ¯.

Ø¨Ù‡ Ø¹Ø¨Ø§Ø±Øª WHERE Ø¯Ø± Ù†Ø­Ùˆ UPDATE ØªÙˆØ¬Ù‡ Ú©Ù†ÛŒØ¯: Ø¹Ø¨Ø§Ø±Øª WHERE Ù…Ø´Ø®Øµ Ù…ÛŒ Ú©Ù†Ø¯ Ú©Ù‡ Ú©Ø¯Ø§Ù… Ø±Ú©ÙˆØ±Ø¯ ÛŒØ§ Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ÛŒÛŒ Ú©Ù‡ Ø¨Ø§ÛŒØ¯ Ø¨Ù‡ Ø±ÙˆØ² Ø´ÙˆÙ†Ø¯. Ø§Ú¯Ø± Ø¨Ù†Ø¯ WHERE Ø±Ø§ Ø­Ø°Ù Ú©Ù†ÛŒØ¯ØŒ ØªÙ…Ø§Ù… Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ Ø¨Ù‡ Ø±ÙˆØ² Ù…ÛŒ Ø´ÙˆÙ†Ø¯!

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>
<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

### **SQL Injection (Ø¬Ù„ÙˆÚ¯ÛŒØ±ÛŒ Ø§Ø² ØªØ²Ø±ÛŒÙ‚ SQL)**

ÙØ±Ø§Ø± Ø§Ø² Ù…Ù‚Ø§Ø¯ÛŒØ± Ù‡Ø± Ù¾Ø±Ø³ Ùˆ Ø¬ÙˆØŒ Ù‡Ù…Ú†Ù†ÛŒÙ† Ø¯Ø± Ø¨ÛŒØ§Ù†ÛŒÙ‡ Ù‡Ø§ÛŒ Ø¨Ù‡ Ø±ÙˆØ² Ø±Ø³Ø§Ù†ÛŒØŒ Ø¹Ù…Ù„ Ø®ÙˆØ¨ÛŒ Ø¯Ø± Ù†Ø¸Ø± Ú¯Ø±ÙØªÙ‡ Ù…ÛŒ Ø´ÙˆØ¯.

Ø§ÛŒÙ† Ø¨Ø±Ø§ÛŒ Ø¬Ù„ÙˆÚ¯ÛŒØ±ÛŒ Ø§Ø² ØªØ²Ø±ÛŒÙ‚ SQL Ø§Ø³ØªØŒ Ú©Ù‡ ÛŒÚ© ØªÚ©Ù†ÛŒÚ© Ø±Ø§ÛŒØ¬ Ù‡Ú© ÙˆØ¨ Ø¨Ø±Ø§ÛŒ Ø§Ø² Ø¨ÛŒÙ† Ø¨Ø±Ø¯Ù† ÛŒØ§ Ø³ÙˆØ¡ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ù¾Ø§ÛŒÚ¯Ø§Ù‡ Ø¯Ø§Ø¯Ù‡ Ø´Ù…Ø§ Ø§Ø³Øª.

Ù…Ø§Ú˜ÙˆÙ„ mysql.connector Ø§Ø² Ù…Ú©Ø§Ù† Ù†Ú¯Ù‡Ø¯Ø§Ø± %s Ø¨Ø±Ø§ÛŒ ÙØ±Ø§Ø± Ø§Ø² Ù…Ù‚Ø§Ø¯ÛŒØ± Ø¯Ø± Ø¹Ø¨Ø§Ø±Øª delete Ø§Ø³ØªÙØ§Ø¯Ù‡ Ù…ÛŒ Ú©Ù†Ø¯:

</section>

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Valley 345", "Canyon 123")

mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

print("------------------------\n")

sql = "SELECT * FROM customers"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

0 record(s) affected
------------------------

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')
(8, 'Susan', 'One way 98')
(9, 'Vicky', 'Yellow Garden 2')
(10, 'Ben', 'Park Lane 38')
(11, 'William', 'Central st 954')
(12, 'Chuck', 'Main Road 989')
(13, 'Viola', 'Sideway 1633')
(14, 'saleh', 'tehran')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Limit

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **Ù…Ø­Ø¯ÙˆØ¯Ù‡ Ù¾Ø±Ø³ Ùˆ Ø¬Ùˆ**

Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª "LIMIT" Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ ØªØ¹Ø¯Ø§Ø¯ Ø±Ú©ÙˆØ±Ø¯Ù‡Ø§ÛŒ Ø¨Ø±Ú¯Ø´ØªÛŒ Ø§Ø² Ù¾Ø±Ø³ Ùˆ Ø¬Ùˆ Ø±Ø§ Ù…Ø­Ø¯ÙˆØ¯ Ú©Ù†ÛŒØ¯:

</section>

In [25]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers LIMIT 5"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'Peter', 'Lowstreet 4')
(2, 'Amy', 'Apple st 652')
(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

<section style="direction: rtl; text-align: justify; margin: 30px;">

Ø§Ú¯Ø± Ù…ÛŒ Ø®ÙˆØ§Ù‡ÛŒØ¯ Ù¾Ù†Ø¬ Ø±Ú©ÙˆØ±Ø¯ Ø±Ø§ Ø¨Ø±Ú¯Ø±Ø¯Ø§Ù†ÛŒØ¯ØŒ Ø¨Ø§ Ø´Ø±ÙˆØ¹ Ø§Ø² Ø±Ú©ÙˆØ±Ø¯ Ø³ÙˆÙ…ØŒ Ù…ÛŒ ØªÙˆØ§Ù†ÛŒØ¯ Ø§Ø² Ú©Ù„Ù…Ù‡ Ú©Ù„ÛŒØ¯ÛŒ "OFFSET" Ø§Ø³ØªÙØ§Ø¯Ù‡ Ú©Ù†ÛŒØ¯:

</section>

In [26]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers LIMIT 5 OFFSET 2"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(3, 'Hannah', 'Mountain 21')
(4, 'Michael', 'Valley 345')
(5, 'Sandy', 'Ocean blvd 2')
(6, 'Betty', 'Green Grass 1')
(7, 'Richard', 'Sky st 331')

<div style="border-top: 1px solid #ccc; margin: 10px 0; opacity: 0.4"></div>

Python MySQL Join

<section style="direction: rtl; text-align: justify; margin: 30px;">

## **ØªØ±Ú©ÛŒØ¨ Ø¬Ø¯Ø§ÙˆÙ„**

Ø¨Ø§ Ø§Ø³ØªÙØ§Ø¯Ù‡ Ø§Ø² Ø¹Ø¨Ø§Ø±Øª JOIN Ù…ÛŒâ€ŒØªÙˆØ§Ù†ÛŒØ¯ Ø±Ø¯ÛŒÙâ€ŒÙ‡Ø§ÛŒ Ø¯Ùˆ ÛŒØ§ Ú†Ù†Ø¯ Ø¬Ø¯ÙˆÙ„ Ø±Ø§ Ø¨Ø± Ø§Ø³Ø§Ø³ Ø³ØªÙˆÙ† Ù…Ø±ØªØ¨Ø· Ø¨ÛŒÙ† Ø¢Ù†Ù‡Ø§ ØªØ±Ú©ÛŒØ¨ Ú©Ù†ÛŒØ¯.

Ø¯Ø± Ù†Ø¸Ø± Ø¨Ú¯ÛŒØ±ÛŒØ¯ Ú©Ù‡ ÛŒÚ© Ø¬Ø¯ÙˆÙ„ "Ú©Ø§Ø±Ø¨Ø±Ø§Ù†" Ùˆ ÛŒÚ© Ø¬Ø¯ÙˆÙ„ "Ù…Ø­ØµÙˆÙ„Ø§Øª" Ø¯Ø§Ø±ÛŒØ¯:

</section>

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="1234",
    database="shop"
)

mycursor = mydb.cursor()

sql = "INSERT INTO users (id, name, fav) VALUES (%s, %s, %s)"
val = [
    (1, 'John', 154),
    (2, 'Peter', 154),
    (3, 'Amy', 155),
    (4, 'Hannah', ),
    (5, 'Michael', )
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

InterfaceError: Failed executing the operation; Not enough parameters for the SQL statement